
name: "CI/CD"
on: [push]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: "[SETUP] checkout repository"
        uses: actions/checkout@v2
      - run: |
         mkdir build
         cd build
         cmake ..
         make
      - run: |
          cd build
          ctest
